* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 40px 20px 20px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #bebebe;
    font-size: 14px;
}
h1 {
    font-weight: 900px;
    text-align: center;

    width: 100%;
    font-size: 2rem;
}

input {
    height: 50px;
    width: 95%;
    margin-bottom: 20px;
    font-family: 'segoe ui';
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 20%;
    margin-left: 2.5%;

}

input:focus {
    outline-color: #00c3ff;

}

button {
    font-family: 'segoe ui';
}

.botaoAzul {
    width: 93%;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    cursor: pointer;
    background: #00c3ff;
    border:none;
    border-radius: 5px;
    color: whitesmoke;
    transition: 0.5s ease;
    font-weight: bold;
}
.botaoAzul:hover {
    background-color: blue;
}

a {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.grupoInput {
    width: 90%;
}
.iconeInput {
    margin-left: 1%;
    width: 50px;
    position: absolute;
}
.cadeado {
    width: 50px;
    position: absolute;
}

.link {
    color: #00c3ff;
    text-decoration:underline;
}

input[type='checkbox'] {
    display:inline-block;
    height:20px;
    width:5%;
    vertical-align: middle;
}

label {
    display: inline-block;
    width: 85%;
    font-size: 12px;

}

.erro-geral {
    background-color: rgb(221, 37, 37);
    color:white;
    font-weight: bold;
    padding:20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.erro-input {
    border: 1px solid red;
}

.erroInput {
    border: 1px solid red;
}

.erro {
    color: #c82a2a;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.sucesso {
    background-color: #2ac83f;
    color:white;
    font-weight: bold;
    padding:20px;
    border-radius: 5px;
    margin-bottom: 15px;
}
